body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #56565c;
    background-color: black;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    opacity: 0.40;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("img_parallax.jpg");
    min-height: 90%;
}

.bgimg-2 {
    background-image: url("img_parallax2.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url(img_parallax3.jpg);
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.border{
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 50px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px, "Lato", sans-serif;
    color: #111;
}

.div1 {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: center;
}

.div1h {
    text-align: center;
}

.div2span {
    background-color: transparent;
    font-size: 25px;
    color: #f7f7f7;
}

.div1after2img {
    position: relative;
}

.div2after2img {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;

}

.div1after3img {
    position: relative;
}

.div2after3img {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

@media only screen and (max-device-width: 1024px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}
