body{
    background-color: skyblue;
    text-align: center;
}
.wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
img{);
    /* transform: translate(200px,200px); */
    /* transform: scale(3,2); */
    /* transform: rotateX(-60deg); */
    /* transform: rotateZ(90deg); */

    /* and we can even combine all these */
    
transform:rotateZ(-90deg) translateY(200px) scaleX(2);
}